@font-face {
    font-family: "Edit Undo BRK";
    src: url("../fonts/EditUndoBRK.woff2") format("woff2"), url("../fonts/EditUndoBRK.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Karma";
    src: url("../fonts/Karma-Regular.woff2") format("woff2"), url("../fonts/Karma-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
