body {
    height: 100%;
    font-family: "Edit Undo BRK", "Karma", sans-serif;
    font-size: 24px;
    color: #ffffff;
    background: linear-gradient(180deg, #000f2e 21.35%, #15d2f1 58.33%, #ffffff 88.54%);
}

.container {
    max-width: 1460px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
