$breakpoint-large: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

$max-width-desktop: 1140px;
$max-width-laptop: 960px;

$max-width-text: 750px;

$color-white: #FFFFFF;