@import "./reset";
@import "./fonts";
@import "./globals";
@import "./variables";

$header-bg-offset: 70px;

header {
    padding-top: 33px;
    padding-bottom: 33px;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
        padding-top: 66px;
        padding-bottom: 66px;
    }

    @media (min-width: $breakpoint-desktop) {
        padding-top: 88px;
        padding-bottom: 88px;
    }

    .bg-image {
        position: absolute;
        left: $header-bg-offset;
        top: -15px;
        width: calc(100% - #{$header-bg-offset} * 2);
    }
}

main {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.building {
    overflow-x: hidden;
    h3 {
        position: absolute;

        &:nth-of-type(1) {
            top: 9%;
            left: 2%;
            @media (min-width: $breakpoint-mobile) {
                left: 4%;
            }
            @media (min-width: $breakpoint-tablet) {
                left: 6%;
            }
            @media (min-width: $breakpoint-laptop) {
                left: 0%;
            }
            @media (min-width: $breakpoint-large) {
                left: -5%;
            }
        }

        &:nth-of-type(2) {
            top: 20%;
            left: 2%;
            text-align: right;
            @media (min-width: $breakpoint-mobile) {
                left: 2%;
            }
            @media (min-width: $breakpoint-large) {
                left: 0%;
            }
        }

        &:nth-of-type(3) {
            top: 25%;
            left: auto;
            right: 1%;
            text-align: left;
            @media (min-width: $breakpoint-large) {
                right: 0%;
            }
        }

        &:nth-of-type(4) {
            top: 42%;
            left: auto;
            right: 1%;
            text-align: left;
            @media (min-width: $breakpoint-mobile) {
                right: 1%;
            }
            @media (min-width: $breakpoint-tablet) {
                right: 3%;
                max-width: 100px;
            }
            @media (min-width: $breakpoint-laptop) {
                right: 5%;
            }
            @media (min-width: $breakpoint-large) {
                right: -10%;
                max-width: none;
            }
        }

        &:nth-of-type(5) {
            top: 60%;
            left: -3%;
            text-align: right;
            max-width: 100px;

            @media (min-width: $breakpoint-mobile) {
                left: 2%;
                max-width: none;
            }
            @media (min-width: $breakpoint-laptop) {
                left: -2%;
                max-width: 200px;
            }
            @media (min-width: $breakpoint-large) {
                left: -10%;
                max-width: none;
            }
        }

        &:nth-of-type(6) {
            top: 69%;
            left: auto;
            right: 1%;
            text-align: left;
            @media (min-width: $breakpoint-mobile) {
                right: 1%;
            }
            @media (min-width: $breakpoint-tablet) {
                right: 2%;
            }
            @media (min-width: $breakpoint-laptop) {
                right: -1%;
            }
            @media (min-width: $breakpoint-large) {
                right: -4%;
            }
        }

        &:nth-of-type(7) {
            top: 90%;
            left: auto;
            right: 1%;
            text-align: right;
            @media (min-width: $breakpoint-mobile) {
                right: 2%;
            }
            @media (min-width: $breakpoint-tablet) {
                right: 2%;
            }
            @media (min-width: $breakpoint-laptop) {
                right: 2%;
            }
            @media (min-width: $breakpoint-large) {
                right: -5%;
            }
        }
    }
}

.creative {
    background-color: #45364b;

    &__wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;

        ul {
            padding-left: 40px;
        }
    }

    &__list-heading,
    &__list {
        text-align: left;
        line-height: 2.08;
    }

    &__list-heading {
        margin-bottom: 8px;
    }

    &__list-item {
        position: relative;
    }

    &__list-item-dot {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        background-color: #fff;
        left: -15px;
        top: 21px;
    }
}

.marketplace {
    margin-bottom: 80px;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 110px;
    }

    @media (min-width: $breakpoint-laptop) {
        margin-bottom: 150px;
    }

    @media (min-width: $breakpoint-desktop) {
        margin-bottom: 208px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        margin: 0 auto;
        max-width: 685px;
        font-size: 88px;
        line-height: 70px;
        text-align: center;
        margin-bottom: 77px;
    }

    &__image {
        @media (min-width: $breakpoint-laptop) {
            margin-left: 2%;
        }
        @media (min-width: $breakpoint-desktop) {
            margin-left: 6%;
        }
    }
}

.footer {
    margin-bottom: 51px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        color: #000000;
        font-size: 44px;
        line-height: 38px;
        margin-bottom: 16px;
        text-align: center;
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 40px;
        text-align: center;
    }

    &__social {
        display: flex;
        gap: 37px;
    }
}
