@import "./reset";
@import "./fonts";
@import "./global";

.main {
}

.header {
    position: relative;
    padding-top: 30px;
    margin-bottom: 70px;

    @media (min-width: 1000px) {
        padding-top: 88px;
        margin-bottom: 113px;
    }

    &__bg-image {
        position: absolute;
        top: 0;
        max-width: 100%;
        height: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 950px;
        margin: 0 auto;
    }

    &__heading {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
        max-width: 400px;
        letter-spacing: 2.2px;

        @media (min-width: 450px) {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 30px;
        }

        @media (min-width: 700px) {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 30px;
            max-width: 100%;
        }

        @media (min-width: 1000px) {
            font-size: 88px;
            line-height: 70px;
            margin-bottom: 43px;
        }
    }

    &__text {
        text-align: center;
        font-family: "Karma";
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;

        @media (min-width: 700px) {
            max-width: 500px;
            font-size: 20px;
            line-height: 26px;
        }

        @media (min-width: 1000px) {
            max-width: 750px;
            line-height: 32px;
        }
    }
}

.building {
    position: relative;

    &__image {
        max-width: 100%;
        height: auto;
    }

    &__img-wrapper {
        margin: 0 auto;
        max-width: 1016px;
    }

    &__text {
        position: absolute;
        text-transform: lowercase;
        line-height: 40px;
        font-size: 24px;
    }

    &__text-1 {
        top: 191px;
        left: 245px;
        width: 300px;
    }

    &__text-2 {
        top: 464px;
        width: 180px;
        left: 300px;
    }

    &__text-3 {
        top: 1316px;
        left: 190px;
        width: 245px;
    }

    &__text-4 {
        top: 572px;
        right: 185px;
        width: 135px;
    }

    &__text-5 {
        top: 917px;
        right: 160px;
        width: 200px;
    }

    &__text-6 {
        top: 1540px;
        right: 195px;
        width: 130px;
    }

    &__text-7 {
        top: 2022px;
        right: 142px;
        width: 200px;
    }
}

.creative {
    background-color: #45364b;
    padding: 60px 0px 70px 0px;
    margin-bottom: 97px;

    &__wrapper {
        max-width: 875px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;

        ul {
            padding-left: 40px;
        }
    }

    &__heading {
        max-width: 666px;
        font-size: 88px;
        line-height: 70px;
        text-align: center;
        margin-bottom: 49px;
    }

    &__list-heading,
    &__list {
        font-family: "Karma";
        font-size: 24px;
        line-height: 50px;
    }

    &__list-heading {
        margin-bottom: 8px;
    }

    &__list-item {
        position: relative;
    }

    &__list-item-dot {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        background-color: #fff;
        left: -15px;
        top: 21px;
    }
}

.marketplace {
    margin-bottom: 208px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1200px) {
            display: block;
        }
    }

    &__heading {
        margin: 0 auto;
        max-width: 685px;
        font-size: 88px;
        line-height: 70px;
        text-align: center;
        margin-bottom: 77px;
    }

    &__image {
        max-width: 100%;
        height: auto;
        @media (min-width: 1200px) {
            margin-left: calc(332 / 1440 * 100%);
        }
    }
}

.footer {
    margin-bottom: 51px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        color: #000000;
        font-size: 44px;
        line-height: 38px;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 40px;
        text-align: center;
    }

    &__social {
        display: flex;
        gap: 37px;
    }
}
